  .container>* {
    border: 3px solid gold;
    background-color: rgb(120, 138, 103);
    padding: 30px;
  }

  header {
    grid-area: hed;
  }

  nav {
    grid-area: nv;
  }

  main {
    grid-area: ma;
  }

  #sid-bar {
    grid-area: sid;
  }

  #advatais {
    grid-area: ad;
  }

  footer {
    grid-area: foo;
  }

  .container {
    display: grid;
    gap: 20px;
    text-align: center;
    /* grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr); */
    grid-template-areas:
      "hed hed hed hed"
      "nv ma ma sid"
      "nv ma ma ad"
      "foo foo foo foo";
  }


  /* testing mobile responsiv */


  @media screen and (max-width:576px) {
    .container {
      grid-template-areas:
        "hed"
        "nv"
        " ma"
        "sid"
        "ad"
        "foo";

    }

  }

  /* testing tablate responsiv */


  @media screen and (min-width:576px) and (max-width:768px) {

    .container {

      grid-template-areas:
        "hed hed hed "
        "nv nv nv"
        "sid ma ma "
        "ad foo foo";
    }